<div class="container-search">
  <div [ngClass]="{'blur' : loading}" id="search">
    <p>Recherchez une commune pour obtenir des informations sur celle-ci</p>
    <form (ngSubmit)="onSubmit()">
      <input type="text" [(ngModel)]="city" name="city" (input)="search(city)" [readOnly]="loading" placeholder="Entrez un nom de commune" required autocomplete="off">
      <button type="submit" [disabled]="loading || noCityFound" [ngClass]="{'loading-button': loading}">Rechercher</button>
      <ul *ngIf="citiesList.length > 0">
        <li *ngFor="let city of citiesList" (click)="selectCity(city)">
          {{ city.nom }} ({{ city.departement.nom }})
        </li>
      </ul>
      <section *ngIf="noCitySelected && !city" class="error">Veuillez sélectionner une commune</section>
      <section *ngIf="noCityFound && city" class="error">Aucune commune trouvée</section>
      <section *ngIf="is_an_homonyme && !selectedCity" class="info">Cette commune existe dans plusieurs départements, veuillez sélectionner une commune parmi les propositions</section>
    </form>

  </div>

  <div *ngIf="loading">
    <img src="assets/images/chargement.gif" alt="Chargement en cours" class="loading"/>
  </div>
</div>
