<div id="body">
  <h1 *ngIf="!showGraph">{{ title }}</h1>
  <div *ngIf="!showGraph" class="container-search">
    <div id="search">
      <p>Recherchez une ville pour obtenir des informations sur celle-ci</p>
      <form (ngSubmit)="onSubmit()">
        <input type="text" [(ngModel)]="city" name="city" (input)="search(city)" placeholder="Entrez un nom de ville" required autocomplete="off">
        <button type="submit">Rechercher</button>
        <ul *ngIf="citiesList.length > 0">
          <li *ngFor="let city of citiesList" (click)="selectCity(city.nom)">
            {{ city.nom }} ({{ city.code }})
          </li>
        </ul>
        <section *ngIf="noCitySelected && !city" class="error">Veuillez sélectionner une ville</section>
        <section *ngIf="noCityFound && city" class="error">Aucune ville trouvée</section>
      </form>
    </div>
  </div>

  <app-graph-display *ngIf="showGraph"></app-graph-display>

  <footer *ngIf="showGraph">
    <p>Site des villes de France</p>
    <p>© 2024</p>
    <p>Mention</p>
  </footer>
</div>
