html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icon {
  width: 20px;
  height: 20px;
}

button {
  padding: 10px;
  margin: 0 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/*Style pour le graphe*/
/*Pour l'instant c'est dans le style général car impossible de l'appliquer sinon*/
.dynamic-map {
  height: 400px;
  width: 600px;
  margin-bottom: 50px;
}

.graphe table {
  margin-bottom: 30px;
  border: 1px solid black;
}

.graphe td {
  padding: 10px 10px 0 10px;
}

.graphe th {
  border-bottom: 1px solid black;
}

.graphe h3, .graphe h4, .graphe h5 {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.info {
  color: blue;
}
