@import "app/Components/leaflet-map/leaflet-map.component.css";

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.error {
  color: red;
}

.info {
  color: blue;
}

/*Maps intéractives*/
.dynamic-map {
  height: 400px;
  width: 600px;
  margin-bottom: 50px;
}

table {
  margin-bottom: 30px;
  border: 1px solid black;
}

td {
  padding: 10px 10px 0 10px;
}

th {
  border-bottom: 1px solid black;
}

h3, h4, h5 {
  margin-bottom: 10px;
}
